<h2 mat-dialog-title>Cart</h2>
<mat-dialog-content class="cart-content">
  <ng-container *ngIf="products$ | async as product">
      <span fxLayout="row" fxLayoutAlign="center center" *ngIf="product.length < 1">Cart is empty</span>
  </ng-container>

  <mat-card *ngFor="let product of products$ | async; let i = index">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
            {{product.name}}
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button (click)="removeQuantity(i)">
          <mat-icon>remove</mat-icon>
        </button>
        <div fxFlexAlign="center">
          {{ product.quantity }}
        </div>
        <button mat-icon-button (click)="addQuantity(i)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="CartProductRemove(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <div>{{ product.quantity * product.price | currency}}</div>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="end center" class="total">Total: {{total$ | async | currency}}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submitOrder()" cdkFocusInitial>Place Order</button>
</mat-dialog-actions>